html,
body {
  margin: 0;
  height: 100%;
  font-family: "Audiowide", sans-serif;
}

.main {
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 100px;
}

.autotype {
  width: 100%;
  height: auto;
  color: #333;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  font-size: large;
}


.bolded {
  font-weight: bold;
  color: #ba1e68;
}

.title {
  font-size: 30px;
  padding: 0;
  text-align: center;
  color: #333;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.navbar a {
  width: 10%;
  height: 100px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

/* reference to https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_fixed_menu */
.overview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  z-index: 0;
  margin-bottom: 50px;
}


.container {
  margin: 40px;
  position: relative;
  width: 600px;
  border: 2px solid #333;
  border-radius: 5px;

}

.image {
  display: block;
  width: 600px;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #333;
  cursor: pointer;
}

.container:hover .overlay {
  opacity: .8;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-size: 30px;
}

.persona {
  left: 0;
  width: 100%;
  justify-content: center;
  height: auto;
  background-color: #414a4c;
  color: #ddd;
}

.persona h1 {
  padding-top: 40px;
  font-size: 36px;
  text-align: center;
  text-shadow: 2px 2px 4px #333;
}

.persona h2 {
  font-size: 32px;
  padding-left: 250px;
  padding-right: 250px;
  color: #C8BDA4;
  text-shadow: 2px 2px 4px #333;
}

.persona p {
  font-size: 24px;
  padding-left: 250px;
  padding-right: 250px;
  line-height: 40px;
  padding-bottom: 50px;
}

.persona img {
  padding-left: 250px;
  width: 1000px;
  height: auto;
}

.read-more {
  margin-top: 40px;
  margin-bottom: 60px;
  left: 50%;
  width: 30%;
  height: 80px;
  text-align: center;
  background-color: #333;
  color: #ddd;
  border: 5px solid #333;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  font-family: "Audiowide", sans-serif;
}

.read-more-2 {
  margin-bottom: 60px;
  left: 50%;
  width: 30%;
  height: 80px;
  text-align: center;
  background-color: #333;
  color: #ddd;
  border: 5px solid #333;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  font-family: "Audiowide", sans-serif;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.read-more:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.read-more-2:hover {
  cursor: pointer;
  color: #0ABAB5;
}

.redesign {
  left: 0;
  width: 100%;
  justify-content: center;
  height: auto;
  color: #303E42;
}


.redesign h1 {
  padding-top: 40px;
  font-size: 36px;
  text-align: center;
  color: #2f3939;
}

.redesign h2 {
  font-size: 32px;
  padding-left: 250px;
  padding-right: 250px;
  color: #303E42;
  text-shadow: 1px 1px 3px #333;
}

.redesign p {
  font-size: 24px;
  padding-left: 250px;
  padding-right: 250px;
  line-height: 40px;
}

.redesign a {
  padding-left: 250px;
  color: #333;
}

.redesign a:hover {
  color: #0ABAB5;
}

.redesign img {
  margin-left: 250px;
  padding-bottom: 40px;
  height: auto;
}

/* Reference to https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_contact_form */
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  width: 20%;
  height: auto;
  padding: 10px;
  text-align: center;
  background-color: #333;
  color: #ddd;
  border: 5px solid #333;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: "Audiowide", sans-serif;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ddd;
  color: #333;
}

.contact h2 {
  font-size: 32px;
  color: #C8BDA4;
  text-shadow: 2px 2px 4px #333;
}

.contact {
  background-color: #414a4c;
  color: #ddd;
  padding-top: 50px;
  padding-left: 300px;
  padding-right: 300px;
}

/* <!-- credit to https://epicbootstrap.com/snippets/footer-basic --> */
.footer-basic {
  padding: 40px 0;
  background-color: #414a4c;
  color: #ddd;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;

}

.footer-basic .social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social>a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.readmore {
  padding: 15px;
  display: flex;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 50px;
  justify-content: center;
  align-content: center;
  font-size: 30px;
  background: #333;
  color: white;
  cursor: pointer;
}

summary:hover {
  background: #ba1e68;
}